/node_modules/
/.gitignore/
/server/keys/private-key.pem
/server/keys/server.crt
/client/node_modules/
/client/build/
/server/node_modules/
/.idea/
/.idea/.gitignore
/server/keys/private-key.pem
/server/keys/server.crt
/server/config/config.yaml
/server/config/test_config.yaml
