body {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  min-height: 100vh;
}

.main-content {
  max-width: 600px !important;
  margin-left: auto;
  margin-right: auto;
}

.textarea {
  resize: none;
}

/*.alertfield {*/
/*  --bs-alert-padding-y: 0 !important;*/
/*  --bs-alert-margin-bottom: 0 !important;*/
/**/
/*}*/
/**/
/*.alertfield .btn-close {*/
/*  padding: 0 1rem !important;*/
/*}*/